/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);




#msform{
    /* background-color: black; */
    border-radius: 30px;
    padding: 5px;
    display: flex;
}

.select1-1{
    display: none;
}

.select1-2{
    display: none;
}
.select1-3{
    display: none;
}
/* Partners */
.partners{
    display:none
}
.select2-1{
    display: none;
}
.select2-2{
    display: none;
}
.select2-3{
    display: none;
}
.partners{
    display:none
}
.hiddenClear{
    display:none;
}
/* Partners End */
/* Director */

.select3-1{
    display: none;
}
.select3-2{
    display: none;
}
.select3-3{
    display: none;
}

.forCheque{
    display: none;
}
.forCheque-open{
    display: block;
}



